
.hero-center-text-wrap h2 strong,
.hero-center-text-wrap h1 strong,
.page-center-text-wrap h1 strong,
.hero-top-text,
.hero-center-text-wrap a:hover,
.hero-center-text-wrap a i,
.hero-center-text-wrap a:hover i,
#filter li .current span,
.tipper .tipper-content span,
.typed-cursor,
.quote h6,
.list-social-team li.icon-team a:hover,
.team-wrap,
.contact-det,
.blog-box .more:after{
	color: #FB8D91;
}
.shasha h6{
  color: #A22F41;
}
.nsaf h6{
  color: #AD4993;
}
.paths h6{
  color: #3ABAA9;
}
.footer-social li a{
  color:#000;
}
.menu ul li:hover a.shadow-hover{
	text-shadow: -7px 6px 0 rgba(0,0,0,.2);
}
.menu ul li a.curent-shadow{
	text-shadow: -7px 6px 0 rgba(0,0,0,.2);
}
.menu ul li ul li a.curent-multi-page,
.menu ul li ul li a.curent-multi-page:hover{
	color: #FB8D91 !important;
}
#royal_preloader.royal_preloader_progress .royal_preloader_meter,
#owl-hero-1.owl-theme .owl-controls .owl-page.active span,
#owl-hero-1.owl-theme .owl-controls .owl-page span:hover,
#owl-sep-1.owl-theme .owl-controls .owl-page.active span,
#owl-sep-1.owl-theme .owl-controls .owl-page span:hover,
.video-button-hero,
.color-list h6:before,
#cd-zoom-in, #cd-zoom-out,
.btn-primary,
.btn-primary:hover{
	background-color: #000;
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 10px solid #FB8D91;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:#FB8D91;
}
.form-control:focus,
.form-control:active{
	border-color: #FB8D91;
}

::selection {
	background-color: #FB8D91;
}
::-moz-selection {
	background-color: #FB8D91;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
	color: #FB8D91;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
	color: #FB8D91;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
	color: #FB8D91;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
	color: #FB8D91;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
	color: #FB8D91;
  }
}























